<form action="/people/new" method="POST">
  <label>Enter a Name</label>
  <input type="text" name="name" placeholder="Full Name">
  <label>Title</label>
  <input type="text" name="title" placeholder="Title">
<button>Add New Employee</button>
