<form action="/movies/new" method="POST">
  <label>Name</label>
  <input type="text" name="name">
  <label>Description</label>
  <input type="text" name="description">
  <button>Create New Movie</button>
</form>